// Footer
footer.text-center
  .footer-below
    .container
      .row
        .col-lg-12
          //| Copyright © NoPokeballs 2016

          if profile
            span #{profile.displayName} &nbsp;
            a(href=logout) (logout)
          else
            a(href=login) Login
