if profile
  span Logged in as: #{profile.displayName} &nbsp;
  br
  a(href=logout) (logout)
 
  ul
    li 
      a(href = '/addpokemon') Add Pokemon to Pokedex
    li
      a(href = '/addchargemove') Add Chargemove to Pokemon
    li Add Item to Itemlist
    li Add Edit / Delete Pokemon
    
    
else
  a(href=login)
    button(type="button").btn.btn-default Login With Google+
