extends ./base.jade

block h2
  h2 Welcome!
  
block content
  .col-sm-4.portfolio-item
    a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
      .caption
        .caption-content
          i.fa.fa-search-plus.fa-3x
      img.img-responsive(src='img/portfolio/cabin.png', alt='')
  .col-sm-4.portfolio-item
    a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
      .caption
        .caption-content
          i.fa.fa-search-plus.fa-3x
      img.img-responsive(src='img/portfolio/cake.png', alt='')
  .col-sm-4.portfolio-item
    a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
      .caption
        .caption-content
          i.fa.fa-search-plus.fa-3x
      img.img-responsive(src='img/portfolio/circus.png', alt='')
  .col-sm-4.portfolio-item
    a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
      .caption
        .caption-content
          i.fa.fa-search-plus.fa-3x
      img.img-responsive(src='img/portfolio/game.png', alt='')
  .col-sm-4.portfolio-item
    a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
      .caption
        .caption-content
          i.fa.fa-search-plus.fa-3x
      img.img-responsive(src='img/portfolio/safe.png', alt='')
  .col-sm-4.portfolio-item
    a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
      .caption
        .caption-content
          i.fa.fa-search-plus.fa-3x
      img.img-responsive(src='img/portfolio/submarine.png', alt='')